/* MetroSans font */
@font-face {
  font-family: "MetroSans";
  font-style: normal;
  font-weight: 700;
  src: "./fonts/MetroSans-Bold.woff2" format("woff2");
}
@font-face {
  font-family: "MetroSans";
  font-style: normal;
  font-weight: 500;
  src: "./fonts/MetroSans-Medium.woff2" format("woff2");
}
@font-face {
  font-family: "MetroSans";
  font-style: normal;
  font-weight: 400;
  src: "./fonts/MetroSans-Regular.woff2" format("woff2");
}
@font-face {
  font-family: "MetroSans";
  font-style: normal;
  font-weight: 300;
  src: "./fonts/MetroSans/MetroSans-Light.woff2" format("woff2");
}

.App {
  font-family: "MetroSans";
}
